body {
    background-image: url(../asset/walpp.png);
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      padding: 0;
    }
    
    header {
      background-color: #505072;
      color: #fff;
      padding: 10px;
    }
    #p1 {
      text-align: left;
    }
  
    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: flex-end;
    }
    
    nav li {
      margin: 0 10px;
    }
    
    nav a {
      color: #fff;
      text-decoration: none;
    }
    
    main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px;
    }
    
    article {
      flex-basis: 75%;
      margin-bottom: 20px;
      text-align: center;
    }
    
    article h1 {
      font-size: 32px;
      margin: 0;
    }
    
    article p {
      margin: 0;
      font-size: 14px;
      color: #c0a1a1;
    }
    
    article section {
      margin-top: 20px;
    }
    
    .container {
      display: flex;
      justify-content: center;
    }
    
    .card {
      background-color: #525261;
      border-radius: 10px;
      box-shadow: 0 2px 5px #9b4d4d;
      margin: 1em;
      padding: 1em;
      display: block;
      width: 200px;
      text-align: center;
      position: relative;
    }
    
    .card-image {
      width: 100%;
      border-radius: 5px;
      background-size: cover;
    }
    
    .card-title {
      color: rgb(136, 120, 226); 
      position: absolute;
      top: 54%;
      left: 13%;
      z-index: 1;
    }
    
    aside {
      flex-shrink: 30%;
      background-color: #505072;
      padding: 10px;
      border-radius: 5px;
      color: #fff;
    }
    aside a {
      text-decoration: none;
      color: #cc9f9f;
      font-weight: bold;
    }
    
    aside h2 {
      font-size: 24px;
      margin: 0 0 10px 0;
    }
    
    aside ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    aside li {
      margin-bottom: 5px;
    }
    
    /* Media queries */
    @media (max-width: 768px) {
      main {
        flex-direction: column;
        align-items: center;
      }
    
      article {
        flex-basis: 100%;
      }
    
      .container {
        flex-wrap: wrap;
        justify-content: center;
      }
    
      .card {
        width: 80%;
      }
      .card {
          background-color: #333;
          border-radius: 10px;
          box-shadow: 0 2px 5px #9b4d4d;
          margin: 1em;
          padding: 1em;
          display: block;
          width: 200px;
          text-align: left;
          position: relative;
        }
        
        .card-image {
          width: 100%;
          border-radius: 5px;
          background-size: cover;
        }
        
        .card-title {
          color: rgb(48, 32, 27); 
          position: absolute;
          top: 40%;
          left: 10%;
          z-index: 1;
        }
        .card-text {
          color: rgb(14, 13, 22); 
          position: absolute;
          top: 60%;
          left: 10%;
          z-index: 1;
        }
    }
    
    @media (max-width: 480px) {
      nav ul {
        flex-direction: column;
        align-items: center;
      }
    
      nav li {
        margin: 10px 0;
      }
    
      aside {
        float: none;
        margin-top: 20px;
      }
    }
    